$base-size: 16;

@function px-to-rem($target, $context: $base-size) {
    $remSize: ($target / $context);
    @return #{$remSize}rem;
}

@mixin margin-horizental($size) {
    margin-left: px-to-rem($size);
    margin-right: px-to-rem($size);
}



