@import "../../../scss/variables";
@import "../../../scss/mixin";

.heading {
    margin: 0 0 px-to-rem(30);
}

.SigninLink {
    text-align: center;

    p {
        color: gray;
        font-size: px-to-rem(18);
        margin: px-to-rem(40) 0 px-to-rem(20);
    }

    a {
        color: $secondary;
        font-size: px-to-rem(18);
        font-weight: bold;
    }
}

.btnWrapper {
    margin-bottom: px-to-rem(20);
}



